<section class="catalog-container">
  <h2 class="catalog-title">Store</h2>
  <div class="cards-container">
    <div class="cards-list">
      <div *ngFor="let card of (productObjects$ | async)?.results">
        <app-card [card]="card"></app-card>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-buttons">
      <div class="page btn-prev" [class.disabled]="currentPage === 1" (click)="prevPage()">&NestedLessLess;</div>
      <div
        *ngFor="let page of visiblePages"
        class="page"
        [class.active]="currentPage === page"
        (click)="goToPage(page)"
      >
        {{ page }}
      </div>
      <div class="dots" *ngIf="showDots">...</div>
      <div class="page btn-next" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
        &NestedGreaterGreater;
      </div>
    </div>
  </div>
</section>
