<section class="catalog-container">
  <h2 class="catalog-title">Store</h2>
  <div class="cards-container">
    <div class="cards-list">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-buttons">
      <a class="page btn-prev" href="#">&NestedLessLess;</a>
      <a class="page active" href="#">1</a>
      <a class="page" href="#">2</a>
      <a class="page" href="#">3</a>
      <a class="page" href="#">4</a>
      <a class="page" href="#">5</a>
      <a class="dots" href="#">...</a>
      <a class="page btn-next" href="#">&NestedGreaterGreater;</a>
    </div>
  </div>
</section>
