<section class="catalog-container">
  <h2 class="catalog-title">Store</h2>
  <div class="cards-container">
    <div class="cards-list">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="pagination">
    <div class="pagination-buttons">
      <a class="page btn-prev" href="#" (click)="prevPage()">&NestedLessLess;</a>
      <a
        *ngFor="let page of visiblePages"
        class="page"
        [class.active]="currentPage === page"
        href="#"
        (click)="goToPage(page)"
      >
        {{ page }}
      </a>
      <a class="dots" *ngIf="showDots" href="#">...</a>
      <a class="page btn-next" href="#" (click)="nextPage()">&NestedGreaterGreater;</a>
    </div>
  </div>
</section>
