@import '../../../../styles.scss';

header {
  color: white;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: $color-primary-200;
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 2;

  .logo {
    @include font-heading;
    font-size: 1.5rem;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.icon__container {
  display: flex;
  gap: 20px;

  .cart_icon,
  .about_icon {
    &:hover {
      transform: scale(1.05);
    }
  }

  .cart_icon img,
  .about_icon img {
    width: 30px;
  }
}
