<app-slider></app-slider>
<div class="category-container">
  <h1 class="category-title">Category</h1>
  <div class="category-list">
    <a
      class="category-link"
      routerLink="/catalog"
      (click)="updateQueryParams(category.query)"
      *ngFor="let category of categories"
    >
      <div class="category">
        <h3 class="category__title">{{ category.categoryName }}</h3>
        <div class="category__image">
          <img [src]="category.image" [alt]="category.alt" />
        </div>
      </div>
    </a>
    <a routerLink="/categories" class="category-link">
      <div class="category category-more">SEE MORE ></div>
    </a>
  </div>
</div>
<app-catalog></app-catalog>
