@import '../../../../../styles.scss';

.burger-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.burger-icon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    top: -2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    top: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .burger-line {
      opacity: 0;
    }

    &::before {
      top: 3px;
      transform: rotate(45deg);
      background-color: white;
    }

    &::after {
      top: -3px;
      opacity: 1;
      transform: rotate(-45deg);
      background-color: white;
    }
  }
}

.burger-menu {
  position: fixed;
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  top: 3rem;
  left: -100%;
  background-color: $color-glass;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-out;
  padding: 20px;
  z-index: 10;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
    position: relative;
  }
  @media screen and (max-width: 425px) {
    width: 100%;

    section {
      top: 30%;
      font-size: 1.5rem;
    }
  }

  &.active {
    left: 0;
  }

  a {
    @include font-primary;
    @include link-element;
    text-decoration: none;
    color: white;
  }
}
