<div class="burger">
  <button class="burger-icon" [class]="isOpen ? 'burger-icon active' : 'burger-icon'" (click)="onClick()">
    <span class="burger-line"></span>
  </button>
  <nav [class]="isOpen ? 'burger-menu active' : 'burger-menu'">
    <section>
      <a routerLink="/cart" (click)="onClick()">Cart</a>
      <a routerLink="/catalog" (click)="onClick()">Store</a>
      <a routerLink="/categories" (click)="onClick()">Category</a>
      <a routerLink="/about" (click)="onClick()">About us</a>
    </section>
  </nav>
</div>
