<form [formGroup]="loginForm" class="login-form">
  <app-input
    [validation]="emailValidation"
    name="email"
    label="E-mail"
    (keyup)="onKeyup()"
    [form]="loginForm"
  ></app-input>
  <app-input
    [validation]="passwordValidation"
    name="password"
    label="Password"
    [type]="showPassword ? 'text' : 'password'"
    (keyup)="onKeyup()"
    [form]="loginForm"
  ></app-input>
  <app-button [isDisabled]="!isValid" content="Login" (clickHandler)="onSubmit()"></app-button>
</form>
