<div class="card" (click)="onCardClick()" (keydown.enter)="onCardClick()" tabindex="0">
  <div class="card-content-container">
    <div class="card-image__wrapper">
      <img class="card-image" [src]="mainImage" alt="" />
      <img class="card-image__hover" [src]="mainGif" alt="" />
    </div>
    <div class="card-info">
      <p class="game-name">
        {{ name }}
      </p>
      <div [ngStyle]="originalPriceStyles()" class="price-container">
        <div *ngIf="discountPercnt > 0" class="discount">{{ discountPercnt }}%</div>
        <div class="button-container">
          <button [disabled]="!!this.lineItem" (click)="addToCart($event)">
            <img src="../../../../../assets/cart.svg" width="10" height="10" alt="cart" />
            <span>Buy</span>
          </button>
        </div>
        <div class="prices-variant">
          <div class="original-price" *ngIf="discountPercnt > 0">{{ originalPrice | currency }}</div>
          <div class="discounted-price">
            {{ discountPercnt > 0 ? (discuntedPrice | currency) : (originalPrice | currency) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
