<li class="card">
  <div class="card-content-container">
    <div class="card-image-wrapper">
      <img src="" alt="">
    </div>
    <div class="card-info">
      <p class="game-name">Game name</p>
      <div class="price-container">
        <div class="discount">30%</div>
        <div class="prices-variant">
          <div class="full-price">
            <span class="line-price"></span>
            <p class="price">$5.99</p>
          </div>
          <div class="discount-price">
            <p class="discount-price"></p>
          </div>  
        </div>
      </div>
    </div>
  </div>
</li>