<ul class="cards-list">
  <li class="card">
    <div class="card-content-container">
      <div class="card-image-wrapper">
        <img class="card-image" src="../../../../../assets/hearthstone.png" alt="" />
        <img class="card-image-hover" src="../../../../assets/Hearth_gif.gif" alt="" />
      </div>
      <div class="card-info">
        <p class="game-name">Heartstoune</p>
        <div class="price-container">
          <div class="discount">-50%</div>
          <div class="prices-variant">
            <div class="original-price">$11.50</div>
            <div class="discounted-price">$5.99</div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
