<div class="cart-page">
  <div class="cart">
    <p *ngIf="isPromoApplied" class="promo__notification">
      Please note that discounts and promo codes cannot be combined.
    </p>
    <p *ngIf="products.length === 0" class="cart__empty">Nothing here :( <a routerLink="/catalog">Go to store</a></p>
    <div class="cart__items" *ngIf="products.length > 0">
      <app-cart-item *ngFor="let product of productsInfo" [product]="product" [cartBase]="cart"></app-cart-item>
    </div>
    <div class="cart__checkout" *ngIf="products.length > 0">
      <div *ngIf="!isPromoApplied" class="cart__total-container">
        <p class="cart__total_orig">
          <span>{{ calcOrigTotal() }} $</span>
        </p>
        <p *ngIf="!isPromoApplied" class="cart__total">
          Total: <span>{{ calcTotal() }} $</span>
        </p>
      </div>
      <div *ngIf="isPromoApplied" class="cart__total-container">
        <p class="cart__total_orig">
          <span>{{ calcOrigTotal() }} $</span>
        </p>
        <p class="cart__total">
          Total: <span>{{ calcTotal() }} $</span>
        </p>
      </div>
      <form class="cart__promo" [formGroup]="promoCodeForm">
        <input *ngIf="!isPromoApplied" type="text" placeholder="Promo Code" formControlName="code" />
        <input *ngIf="isPromoApplied" readonly type="text" [placeholder]="promoCodeValue" formControlName="code" />
        <app-button *ngIf="!isPromoApplied" content="Apply" (clickHandler)="onApplyPromo()"></app-button>
        <app-button *ngIf="isPromoApplied" content="Remove" (clickHandler)="onRemovePromo()"></app-button>
      </form>
      <app-button btnType="link" content="Clear Cart" (clickHandler)="clickDeleteCart()">Clear</app-button>
      <app-button content="Checkout"></app-button>
    </div>
  </div>
</div>
<div class="confirmation" *ngIf="isOpen">
  <div class="confirmation-container">
    <div class="title-container">
      <p>Are you sure?</p>
    </div>
    <div class="buttons-container">
      <app-button content="Cancel" btnClass="primary" (clickHandler)="closeConfirmation()"></app-button>
      <app-button content="Confirm" btnClass="primary" (clickHandler)="deleteCart()"></app-button>
    </div>
  </div>
</div>
