<div class="product-container">
  <div class="images-container">
    <img src="../../../assets/banishers.jpeg" alt="img" />
  </div>
  <div class="product-information">
    <h1>Banishers</h1>
    <div class="category">RPG</div>
    <p class="description">
      Hunt ghosts as two memorable characters in a story-driven Action-RPG where your decisions carry dramatic
      consequences. Torn between honoring your oath to the living and saving your departed partner, how far will you go
      for love?
    </p>
    <div class="prices">
      <p class="original-price">1000$</p>
      <p class="discount">-1%</p>
      <p class="discounted-price">999$</p>
    </div>
    <button>Buy</button>
  </div>
</div>
