<div class="back-btn" routerLink="/catalog">
  <img src="../../../assets/arrow.svg" width="24" height="24" alt="back" />
  <span>Back</span>
</div>
<div *ngIf="product" class="product-container">
  <div class="images-container">
    <app-slider [images]="imageUrls" [name]="name"></app-slider>
  </div>
  <div class="product-information">
    <div class="description-container">
      <h1>{{ name }}</h1>
      <div class="category">{{ category }}</div>
      <p class="description">
        {{ description }}
      </p>
    </div>
    <div class="price-container">
      <div class="prices">
        <p *ngIf="discountPercnt > 0" class="original-price">{{ originalPrice | currency }}</p>
        <p *ngIf="discountPercnt > 0" class="discount">{{ discountPercnt }}%</p>
      </div>
      <p class="discounted-price">
        {{ discountPercnt > 0 ? (discuntedPrice | currency) : (originalPrice | currency) }}
      </p>
      <div class="button-container">
        <button *ngIf="!lineItem" (click)="addToCart()">
          <img src="../../../assets/cart.svg" width="18" height="18" alt="cart" />
          <span>Buy</span>
        </button>
        <button *ngIf="lineItem" (click)="removeFromCart()">
          <img src="../../../assets/remove.svg" width="18" height="18" alt="cart" />
          <span>Remove</span>
        </button>
      </div>
    </div>
  </div>
</div>
