.product-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.images-container {
  width: 60%;
}

.images-container img {
  width: 100%;
}

.product-information {
  border-radius: 10px;
  width: 40%;
}
