<div class="change-password-page">
  <div class="navigation-buttons">
    <a class="router router__profile" routerLink="/edit-profile">Profile</a>
    <a class="router router__password" routerLink="/change-password">Password</a>
    <a class="router router__addresses" routerLink="/manage-addresses">Addresses</a>
  </div>
  <div class="change-password">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" class="password-form">
      <fieldset>
        <legend>Change password</legend>
        <div class="password-group">
          <app-input
            [validation]="passwordValidation"
            name="currentPassword"
            label="Old Password"
            [type]="currentPasswordVisibility ? 'text' : 'password'"
            [form]="passwordForm"
          ></app-input>
          <app-button
            btnType="link"
            [btnClass]="currentPasswordVisibility ? 'visibility_on' : 'visibility_off'"
            (clickHandler)="onChangeCurrentVisibility()"
            [content]="currentPasswordVisibility ? 'Hide' : 'Show'"
          ></app-button>
        </div>
        <div class="password-group">
          <app-input
            [validation]="passwordValidation"
            name="newPassword"
            label="New Password"
            [type]="newPasswordVisibility ? 'text' : 'password'"
            [form]="passwordForm"
          ></app-input>
          <app-button
            btnType="link"
            [btnClass]="newPasswordVisibility ? 'visibility_on' : 'visibility_off'"
            (clickHandler)="onChangeNewVisibility()"
            [content]="newPasswordVisibility ? 'Hide' : 'Show'"
          ></app-button>
        </div>
      </fieldset>
      <div class="buttons">
        <app-button [isDisabled]="!passwordForm.valid" content="Save Changes" (clickHandler)="onSubmit()"></app-button>
        <a routerLink="/profile" class="cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
