<div class="change-password-page">
  <div class="navigation-buttons">
    <a class="router router__profile" routerLink="/edit-profile">Profile</a>
    <a class="router router__password" routerLink="/change-password">Password</a>
    <a class="router router__addresses" routerLink="/manage-addresses">Addresses</a>
  </div>
  <div class="change-password">
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" class="password-form">
      <fieldset>
        <legend>Change password</legend>
        <app-input
          [validation]="passwordValidation"
          name="currentPassword"
          label="Old Password"
          type="password"
          [form]="passwordForm"
        ></app-input>
        <app-input
          [validation]="passwordValidation"
          name="newPassword"
          label="New Password"
          type="password"
          [form]="passwordForm"
        ></app-input>
      </fieldset>
      <div class="buttons">
        <app-button [isDisabled]="!passwordForm.valid" content="Save Changes" (clickHandler)="onSubmit()"></app-button>
        <a routerLink="/profile" class="cancel">Cancel</a>
      </div>
    </form>
  </div>
</div>
