<div class="profile-page">
  <div class="profile-info">
    <a href="" class="edit">Edit</a>
    <section class="profile-general-info">
      <div class="profile-image">JD</div>
      <div class="profile-contact-info">
        <p class="profile-email">johndoe&#64;test.com</p>
        <h2 class="profile-name">John Doe</h2>
        <p class="profile-birthday">🎂 May 10, 2002</p>
      </div>
    </section>
    <section class="profile-address-info">
      <h3 class="profile-address-title">Address</h3>
      <div class="profile-addresses">
        <div class="profile-shipping-address">
          <h4>Shipping</h4>
          <ul>
            <li>1200 St. , City, Country, 123456</li>
            <li>Very long street name , Really long city name, Country, 123456</li>
          </ul>
        </div>
        <div class="profile-billing-address">
          <h4>Billing</h4>
          <ul>
            <li>Very long street name , Really long city name, Country, 123456</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
