<div class="profile-page">
  <div class="profile-info">
    <a routerLink="/edit-profile" class="edit">Edit</a>
    <section class="profile-general-info">
      <div class="profile-image">
        {{ userInfo.firstName.charAt(0).toUpperCase() || '' }}{{ userInfo.lastName.charAt(0).toUpperCase() || '' }}
      </div>
      <div class="profile-contact-info">
        <p class="profile-email">{{ userInfo.email }}</p>
        <h2 class="profile-name">{{ userInfo.firstName }} {{ userInfo.lastName }}</h2>
        <p class="profile-birthday">🎂 {{ formatDate(userInfo.dateOfBirth || 0) }}</p>
      </div>
    </section>
    <section class="profile-address-info">
      <h3 class="profile-address-title">Address</h3>
      <div class="profile-addresses">
        <div class="profile-shipping-address">
          <h4>Shipping</h4>
          <ul>
            <li *ngFor="let address of listShippingAddresses()">
              {{ address.streetNumber }},{{ address.city }}, {{ address.country }}, {{ address.postalCode }}
            </li>
          </ul>
        </div>
        <div class="profile-billing-address">
          <h4>Billing</h4>
          <ul>
            <li *ngFor="let address of listBillingAddresses()">
              {{ address.streetNumber }},{{ address.city }}, {{ address.country }}, {{ address.postalCode }}
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
