@import '../../../../../node_modules/@egjs/flicking-plugins/dist/flicking-plugins.css';
@import '../../../../../node_modules/@egjs/flicking-plugins/dist/pagination.css';

.panel {
  width: 100%;
  height: auto;
  position: relative;
}

.panel img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.flicking-viewport {
  overflow: visible;
}

.flicking-pagination {
  bottom: -20px;
}
