@import '../../../../styles.scss';

.notification {
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgba($color-primary-100, 0.6);
  overflow-y: auto;
  display: flex;
}

.notification-container {
  @include font-primary;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 40%;
  border: 2px solid $color-primary-600;
  border-radius: 10px;
  padding: 20px;
  background-color: $color-primary-700;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 25px;
  height: 25px;
}

.title {
  @include font-heading;

  &.warning {
    color: rgb(224, 192, 34);
  }

  &.success {
    color: rgb(16, 107, 16);
  }

  &.error {
    color: $color-secondary;
  }
}
