<form [formGroup]="registrationForm" class="registration-form">
  <fieldset>
    <legend>Personal Info</legend>
    <app-input
      [validation]="nameValidation"
      name="firstname"
      label="First Name"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      [validation]="nameValidation"
      name="lastname"
      label="Last Name"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      [validation]="emailValidation"
      name="email"
      label="E-mail"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      [validation]="passwordValidation"
      name="password"
      label="Password"
      type="password"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      type="date"
      name="birthdate"
      label="Date of Birth"
      (keyup)="onKeyup()"
      [form]="registrationForm"
      [validation]="ageValidation"
    ></app-input>
  </fieldset>
  <fieldset>
    <legend>Shipping Adress</legend>
    <app-input
      name="shipping-city"
      label="City"
      [validation]="cityValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      name="shipping-street"
      label="Street"
      [validation]="streetValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      name="shipping-postalcode"
      label="Postal Code"
      [validation]="postalCodeValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <div class="country-input-group">
      <label for="shipping-country">Country</label>
      <select name="shipping-country" id="shipping-country">
        <option *ngFor="let country of countryList" [value]="country">{{ country }}</option>
      </select>
    </div>
    <app-checkbox-input
      name="single-adress"
      label="Use as billing adress"
      [form]="registrationForm"
      [checked]="singleAdress"
      (checkHandler)="onCheckSingleAdress()"
    ></app-checkbox-input>
  </fieldset>
  <fieldset *ngIf="!singleAdress">
    <legend>Billing Adress</legend>
    <app-input
      name="billing-city"
      label="City"
      [validation]="cityValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      name="billing-street"
      label="Street"
      [validation]="streetValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <app-input
      name="billing-postalcode"
      label="Postal Code"
      [validation]="postalCodeValidation"
      (keyup)="onKeyup()"
      [form]="registrationForm"
    ></app-input>
    <div class="country-input-group">
      <label for="billing-country">Country</label>
      <select name="billing-country" id="billing-country">
        <option *ngFor="let country of countryList" [value]="country">{{ country }}</option>
      </select>
    </div>
  </fieldset>
  <app-button [isDisabled]="!isValid" content="Register" (clickHandler)="onSubmit()"></app-button>
</form>
