<div class="categories-page">
  <h2 class="page__title">Categories</h2>
  <section class="page__categories">
    <a
      (click)="navigateToCategory(category.key)"
      *ngFor="let category of (categories$ | async)?.results"
      tabindex="0"
      (keydown.enter)="navigateToCategory(category.key)"
    >
      <div class="category">
        <h3 class="category__title">{{ category.name['en-US'] }}</h3>
        <div class="category__image">
          <img [src]="categoryImgPath + category.key + '.jpg'" [alt]="category.key" />
        </div>
      </div>
    </a>
  </section>
</div>
