/* You can add global styles to this file, and also import other style files */
@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* fonts */
@mixin font-primary {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin font-heading {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@mixin link-element {
  @include font-primary;
  cursor: pointer;
  text-decoration: none;

  &::after {
    width: 0;
    height: 1px;
    background-color: white;
    position: relative;
    bottom: -2px;
    content: '';
    display: block;
    transition: all 0.2s ease-out;
    margin: auto;
  }

  &:hover::after {
    width: 100%;
  }
}

/* colors */
$color-shadow: #100424;
$color-glass: #1f11408c;
$color-primary-100: #14072b;
$color-primary-300: #231a55;
$color-primary-500: #5e6192;
$color-primary-700: #cdcad2;
$color-primary-200: color.mix($color-primary-100, $color-primary-300);
$color-primary-400: color.mix($color-primary-300, $color-primary-500);
$color-primary-600: color.mix($color-primary-500, $color-primary-700);
$color-secondary: #cf0529;

$background-gradient: linear-gradient($color-primary-300 55%, $color-primary-100 84%);
// $background-gradient: linear-gradient($color-primary-100, $color-primary-200 150%);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: $background-gradient;
  min-height: 100vh;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
